@mixin title-line($width, $left)
    &::after
        content: ""
        display: inline-block
        position: absolute
        width: $width
        height: 2px
        background: $GrayscaleBlack
        top: 50%
        margin-left: $left

@mixin hero-title-line($width, $top)
    &::after
        position: absolute
        content: ""
        top: $top
        right: 0
        width: $width
        height: 2px
        background: $GrayscaleBlack
    
        
@mixin text-width($width)
    .infrastrukture__grid__item__text
        max-width: $width
    
    