.pdf
    position: relative
    margin-top: 100px
    &__UpTitle
        @include title-line(529px, 8px)
    &__title-section
        max-width: 600px
    &__image
        height: 138px
        // width: 113px
        position: absolute
        top: 143px
        left: 650px
    &__button
        width: 229px
        margin-top: 46px
.list-block
    margin-top: 20px
    margin-left: 25px