.plans
    &__UpTitle
        @include title-line(473px, 13px)
    &__grid
        margin-top: 31px
        display: grid
        grid-template-columns: 380px 380px 380px
        grid-gap: 35px 30px
        &__item
            position: relative
            width: 380px
            height: 609px
            &__image
                width: 380px
            &__container
                position: absolute
                bottom: 49px
                width: 100%
                height: 188px
            &__title
                // position: absolute
                // top: 0px
                // margin-top: 31.9px
                font-size: 24px
                font-weight: 500
                line-height: 150%
                text-transform: uppercase
            &__text
                // position: absolute
                // top: 0
                margin-top: 11px
                width: 332px
                line-height: 120%
            &__button
                position: absolute
                // margin-top: 53px
                width: 187px
                bottom: 0
